@import "tailwindcss";

*,
body {
  cursor: none;
}

@theme {
  --color-primary: #d84e2c;
  --color-primary-dark: #6c2716;
  --container-max-width-sm: 640px;
  --container-max-width-md: 768px;
  --container-max-width-lg: 1024px;
  --container-max-width-xl: 1148px;
  --container-max-width-2xl: 1148px;
  --container-center: "true";
  --padding-section: 250px;
  --animate-shine: shine 2s linear infinite;

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  /* position: relative; */
  max-width: var(--container-max-width-2xl);
}

@media (min-width: 640px) {
  .container {
    max-width: var(--container-max-width-sm);
    /* overflow: hidden; */
  }
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-max-width-md);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--container-max-width-lg);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--container-max-width-xl);
  }
}

::-webkit-scrollbar {
  display: none;
}

.grid {
  gap: 25px;
}
.markdown-text ul {
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  list-style-type: disc;
}
.animateUp {
  will-change: transform;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}
